<script src="/spa/components/footer/init.js"></script>

<!-- Footer Start -->
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <div class="footer-item">
                        <h4 id="footer-newsletter-title" class="text-white mb-4">Newsletter</h4>
                        <p id="footer-newsletter-text" class="mb-3">Preencha o campo abaixo com seu e-mail e clique em 'Assinar' para receber atualizações e novidades sobre nossa plataforma e sobre saúde mental.</p>
                        <div class="position-relative mx-auto rounded-pill">
                            <input id="footer-newsletter-textbox-placeholder" class="form-control rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Informe seu e-mail">
                            <button id="footer-newsletter-button" type="button" class="btn btn-primary rounded-pill position-absolute top-0 end-0 py-2 mt-2 me-2">Assinar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 id="footer-column-2-title" class="text-white mb-4">Explore Nosso Site</h4>
                    <a id="footer-home" href="#"><i class="fas fa-angle-right me-2"></i> <span id="footer-column-2-home">Principal</span></a>
                    <a id="footer-technology" href="#"><i class="fas fa-angle-right me-2"></i> <span id="footer-column-2-technology">Tecnologias</span></a>
                    <a id="footer-about" href="#"><i class="fas fa-angle-right me-2"></i> <span id="footer-column-2-about">Sobre Nós</span></a>
                    <a id="footer-project" href="#"><i class="fas fa-angle-right me-2"></i> <span id="footer-column-2-project">Últimos Projetos</span></a>
                    <a id="footer-feedback" href="#"><i class="fas fa-angle-right me-2"></i> <span id="footer-column-2-feedback">Feedbacks</span></a>
                    <a id="footer-team" href="#"><i class="fas fa-angle-right me-2"></i> <span id="footer-column-2-team">Nossa Equipe</span></a>
                    <a id="footer-blog" href="#"><i class="fas fa-angle-right me-2"></i> <span id="footer-column-2-blog">Nosso Blog</span></a>
                    <a id="footer-contact" href="#"><i class="fas fa-angle-right me-2"></i> <span id="footer-column-2-contact">Contate-nos</span></a>
                    <a id="footer-faq" href="#"><i class="fas fa-angle-right me-2"></i> <span id="footer-column-2-faq">FAQ</span></a>                   
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 id="footer-column-3-title" class="text-white mb-4">Informações de Contato</h4>
                    <a href=""><i class="fa fa-map-marker-alt me-2"></i> <span id="footer-column-3-address">Aparecida de Goiânia, Goiás, Brasil</span></a>
                    <a href=""><i class="fas fa-envelope me-2"></i> <span id="footer-column-3-email-1">info@livedoctormed.com</span></a>
                    <a href=""><i class="fas fa-envelope me-2"></i> <span id="footer-column-3-email-2">atendimento@livedoctormed.com</span></a>
                    <a href=""><i class="fas fa-phone me-2"></i> <span id="footer-column-3-phone-1">+55 (62) 9 9544-8050</span></a>
                    <a href="" class="mb-3"><i class="fas fa-print me-2"></i> <span id="footer-column-3-phone-2">+55 (62) 9 9544-8050</span></a>
                    <div class="d-flex align-items-center">
                        <a class="btn btn-light btn-md-square me-2" target="_blank" href="https://web.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-light btn-md-square me-2" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-light btn-md-square me-2" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-light btn-md-square me-0" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item-post d-flex flex-column">
                    <h4 id="footer-column-4-title" class="text-white mb-4">Posts Mais Populares</h4>
                    <div class="d-flex flex-column mb-3">
                        <p id="footer-column-4-post-1-title" class="text-uppercase text-primary mb-2">Tecnologia</p>
                        <a id="footer-column-4-post-1-text" href="#" class="text-body">Como a Teleconsulta Revoluciona o Atendimento Médico</a>
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <p id="footer-column-4-post-2-title" class="text-uppercase text-primary mb-2">Saúde</p>
                        <a id="footer-column-4-post-2-text" href="#" class="text-body">A Importância do Acompanhamento Psicológico na Era Digital</a>
                    </div>
                    <div class="footer-btn text-start">
                        <a href="#" id="footer-view-all-posts" class="btn btn-light rounded-pill px-4"><span id="footer-column-4-view-all-posts">Ver Todos os Posts</span> <i class="fa fa-arrow-right ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->