<script src="/spa/components/services/init.js"></script>

<!-- Services Start -->
<div class="container-fluid service">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 id="services-context" class="text-primary">Nossas Tecnologias</h4>
            <h1 id="services-title" class="display-4"> Oferecemos as melhores tecnologias para o atendimento ao paciente.</h1>
        </div>
        <div class="row g-4 justify-content-center text-center">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="img/service-1.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-laptop-medical fa-2x me-2"></i> <span id="services-frame-1-title">Teleconsulta por Video-Conferência</span></a>
                            <p id="services-frame-1-text" class="mb-4">Este recurso permite que pacientes se conectem com médicos e especialistas de forma segura e conveniente, sem a necessidade de deslocamentos físicos.
                            </p>
                            <a id="services-frame-1-button" class="btn btn-light rounded-pill py-2 px-4" href="#">Leia Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="img/service-2.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-laptop-medical fa-2x me-2"></i> <span id="services-frame-2-title">Agendamentos Online</span></a>
                            <p id="services-frame-2-text" class="mb-4">Agende suas consultas de forma simples com nossa interface intuitiva. Aproveite lembretes automáticos por e-mail, SMS e WhatsApp para uma experiência mais eficiente e organizada.
                            </p>
                            <a id="services-frame-2-button" class="btn btn-light rounded-pill py-2 px-4" href="#">Leia Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="img/service-4.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-laptop-medical fa-2x me-2"></i> <span id="services-frame-3-title">Material de Apoio Especialista</span></a>
                            <p id="services-frame-3-text" class="mb-4">Acesse materiais de apoio para especialistas, incluindo quadros, jogos, testes e outros recursos, para auxiliar no atendimento, acompanhamento e tratamento dos seus pacientes.
                            </p>
                            <a id="services-frame-3-button" class="btn btn-light rounded-pill py-2 px-4" href="#">Leia Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="img/service-3.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-laptop-medical fa-2x me-2"></i> <span id="services-frame-4-title">Ferramentas de Avaliação</span></a>
                            <p id="services-frame-4-text" class="mb-4">Aproveite nossas ferramentas de avaliação especializadas para ajudar os profissionais a realizar diagnósticos precisos e a personalizar o tratamento de seus clientes.
                            </p>
                            <a id="services-frame-4-button" class="btn btn-light rounded-pill py-2 px-4" href="#">Leia Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a id="services-button-more-feature" class="btn btn-primary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Mais Recursos</a>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->