<!-- Contact Start -->
<div class="container-fluid contact bg-light">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="contact-item">
                    <div class="pb-5">
                        <h4 id="contact-context" class="text-primary">Fale Conosco</h4>
                        <h1 id="contact-title" class="display-4 mb-4">Entre Em Contato</h1>
                        <p class="mb-0"> <a class="text-primary fw-bold" href="https://htmlcodex.com/contact-form"></a>.</p>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="bg-primary btn-lg-square rounded-circle p-4"><i class="fa fa-home text-white"></i></div>
                        <div class="ms-4">
                            <h4 id="contact-address-title">Endereços</h4>
                            <p id="contact-address-1" class="mb-0">Aparecida de Goiânia, Goiás, Brasil</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="bg-primary btn-lg-square rounded-circle p-2"><i class="fa fa-phone-alt text-white"></i></div>
                        <div class="ms-4">
                            <h4 id="contact-phone-title">Celular</h4>
                            <p id="contact-phone-number" class="mb-0">+55 (62) 9 9544-8050</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="bg-primary btn-lg-square rounded-circle p-2"><i class="fa fa-envelope-open text-white"></i></div>
                        <div class="ms-4">
                            <h4 id="contact-email-title">Email</h4>
                            <p id="contact-email-text" class="mb-0">atendimento@livedoctormed.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contact-wow-form" class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                <form>
                    <div class="row g-3">
                        <div class="col-lg-12 col-xl-6">
                            <div class="form-floating">
                                <input id="contact-input-your-name" type="text" class="form-control" name="contact-your-name" span-error-id="contact-error-your-name" placeholder="Seu Nome">
                                <label id="contact-label-your-name" for="name">Seu Nome</label>
                            </div>
                            <div>
                                <span id="contact-error-your-name" class="error" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <div class="form-floating">
                                <input id="contact-input-your-email" type="email" class="form-control" name="contact-your-email" span-error-id="contact-error-your-email" placeholder="Seu Email">
                                <label id="contact-label-your-email" for="email">Seu Email</label>
                            </div>
                            <span id="contact-error-your-email" class="error" style="color: red;"></span>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <div class="form-floating">
                                <input id="contact-input-your-phone" type="phone" class="form-control" name="contact-your-phone" span-error-id="contact-error-your-phone" placeholder="Phone">
                                <label id="contact-label-your-phone" for="phone">Seu Telefone</label>
                            </div>
                            <span id="contact-error-your-phone" class="error" style="color: red;"></span>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <div class="form-floating">
                                <input id="contact-input-your-protocol" type="text" class="form-control" name="contact-your-protocol" span-error-id="contact-error-your-protocol" placeholder="Project">
                                <label id="contact-label-your-protocol" for="protocol">Protocolo</label>
                            </div>
                            <span id="contact-error-your-protocol" class="error" style="color: red;"></span>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input id="contact-input-your-subject" type="text" class="form-control" name="contact-your-subject" span-error-id="contact-error-your-subject" placeholder="Subject">
                                <label id="contact-label-your-subject" for="subject">Assunto ou Motivo</label>
                            </div>
                            <span id="contact-error-your-subject" class="error" style="color: red;"></span>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea id="contact-input-your-message" class="form-control" name="contact-your-message" span-error-id="contact-error-your-message" placeholder="Leave a message here" style="height: 160px"></textarea>
                                <label id="contact-label-your-message" for="contact-input-your-message">Mensagem</label>
                            </div>
                            <span id="contact-error-your-message" class="error" style="color: red;"></span>
                        </div>
                        <div class="col-12">
                            <button id="contact-send-message-button" class="btn btn-primary w-100 py-3" disabled>Enviar Mensagem</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded h-100">
                    <iframe class="rounded-top w-100" 
                    style="height: 500px; margin-bottom: -6px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d955.3582667929472!2d-49.240816941837615!3d-16.705229982412167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935efbd4bcc9396d%3A0x138ecc5abca8e4e8!2sAparecida%20de%20Goi%C3%A2nia%2C%20GO!5e0!3m2!1spt-BR!2sbr!4v1724633712958!5m2!1spt-BR!2sbr" 
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-bottom p-4">
                        <div class="d-flex">
                            <a class="btn btn-dark btn-lg-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-lg-square rounded-circle mx-2" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-lg-square rounded-circle mx-2" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-dark btn-lg-square rounded-circle mx-2" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>

<script src="/spa/components/contact/rules-validate.js"></script>
<script src="/spa/components/contact/init.js"></script>