<script src="/spa/components/project/init.js"></script>

<!-- Project Start -->
<div class="container-fluid project py-5">
    <div class="container">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 id="project-context" class="text-primary">Nossos Projetos</h4>
            <h1 id="project-title" class="display-4">Explore Nossos Últimos Projetos</h1>
        </div>
        <div class="project-carousel owl-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="project-item h-100 wow fadeInUp" data-wow-delay="0.1s">
                <div class="project-img">
                    <img src="img/projects-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                </div>
                <div class="project-content bg-light rounded p-4">
                    <div class="project-content-inner">
                        <div class="project-icon mb-3"><i class="fas fa-chart-line fa-4x text-primary"></i></div>
                        <p id="project-card-1-title" class="text-dark fs-5 mb-3">Crescimento da Saúde</p>
                        <a id="project-card-1-caption" href="#" class="h4">Consultoria de crescimento em estratégia de saúde e planejamento de investimentos
                        </a>
                        <div class="pt-4">
                            <a class="btn btn-light rounded-pill py-3 px-5 project-card-button" href="#">Leia Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-item h-100 wow fadeInUp" data-wow-delay="0.3s">
                <div class="project-img">
                    <img src="img/projects-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                </div>
                <div class="project-content bg-light rounded p-4">
                    <div class="project-content-inner">
                        <div class="project-icon mb-3"><i class="fas fa-signal fa-4x text-primary"></i></div>
                        <p id="project-card-2-title" class="text-dark fs-5 mb-3">Estratégia de Marketing</p>
                        <a id="project-card-2-caption" href="#" class="h4">Estratégia de marketing de navegação de produtos para melhorar os negócios em telemedicina</a>
                        <div class="pt-4">
                            <a class="btn btn-light rounded-pill py-3 px-5 project-card-button" href="#">Leia Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-item h-100">
                <div class="project-img">
                    <img src="img/projects-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                </div>
                <div class="project-content bg-light rounded p-4">
                    <div class="project-content-inner">
                        <div class="project-icon mb-3"><i class="fas fa-signal fa-4x text-primary"></i></div>
                        <p id="project-card-3-title" class="text-dark fs-5 mb-3">Teleatendimento</p>
                        <a id="project-card-3-caption" href="#" class="h4">Otimização de atendimentos para aprimorar a experiência do paciente em plataformas de telemedicina</a>
                        <div class="pt-4">
                            <a class="btn btn-light rounded-pill py-3 px-5" href="#" project-card-button>Leia Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Project End -->
