<script src="/spa/components/blog/init.js"></script>

<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 id="blog-context" class="text-primary">Nosso Blog</h4>
            <h1 id="blog-title" class="display-4">Últimos Artigos & Notícias</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="blog-item bg-light rounded p-4" style="background-image: url(img/bg.png);">
                    <div class="mb-4">
                        <h4 id="blog-card-1-title" class="text-primary mb-2">Tecnologia</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0"><span class="text-dark fw-bold blog-card-on">Em</span> <span id="blog-card-1-date">14/04/2024</span></p>
                            <p class="mb-0"><span class="text-dark fw-bold blog-card-by">Por</span> <span id="blog-card-1-author">Graziele S. D. Alencar</span</p>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="img/blog-1.jpg" class="img-fluid w-100 rounded" alt="Image">
                        <div class="blog-plus-icon">
                            <a href="img/blog-1.jpg" data-lightbox="blog-1" class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                        </div>
                    </div>
                    <div class="my-4">
                        <a id="blog-card-1-caption" href="#" class="h4">Como a Teleconsulta Revoluciona o Atendimento Médico</a>
                    </div>
                    <a class="btn btn-primary rounded-pill py-2 px-4 blog-card-explore-more-button" href="#">Explore Mais</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog-item bg-light rounded p-4" style="background-image: url(img/bg.png);">
                    <div class="mb-4">
                        <h4 id="blog-card-2-title" class="text-primary mb-2">Saúde</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0"><span class="text-dark fw-bold blog-card-on">Em</span> <span id="blog-card-2-date">14/04/2024</span></p>
                            <p class="mb-0"><span class="text-dark fw-bold blog-card-by">Por</span> <span id="blog-card-2-author">Graziele S. D. Alencar</span></p>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="img/blog-2.jpg" class="img-fluid w-100 rounded" alt="Image">
                        <div class="blog-plus-icon">
                            <a href="img/blog-2.jpg" data-lightbox="blog-2" class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                        </div>
                    </div>
                    <div class="my-4">
                        <a id="blog-card-2-caption" href="#" class="h4">A Importância do Acompanhamento Psicológico na Era Digital</a>
                    </div>
                    <a class="btn btn-primary rounded-pill py-2 px-4 blog-card-explore-more-button" href="#">Explore Mais</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="blog-item bg-light rounded p-4" style="background-image: url(img/bg.png);">
                    <div class="mb-4">
                        <h4 id="blog-card-3-title" class="text-primary mb-2">Consultoria</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0"><span class="text-dark fw-bold blog-card-on">Em</span> <span id="blog-card-2-date">14/04/2024</span></p>
                            <p class="mb-0"><span class="text-dark fw-bold blog-card-by">Por</span> <span id="blog-card-2-author">Graziele S. D. Alencar</span></p>
                        </div>
                    </div>
                    <div class="project-img">
                        <img src="img/blog-3.jpg" class="img-fluid w-100 rounded" alt="Image">
                        <div class="blog-plus-icon">
                            <a href="img/blog-3.jpg" data-lightbox="blog-3" class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                        </div>
                    </div>
                    <div class="my-4">
                        <a id="blog-card-3-caption" href="#" class="h4">Está Interessado em Maximizar as Receitas da Sua Clínica ou Hospital?</a>
                    </div>
                    <a class="btn btn-primary rounded-pill py-2 px-4 blog-card-explore-more-button" href="#">Explore Mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->