<script src="/spa/components/header/index.js"></script>
<script src="/spa/components/navbar/index.js"></script>
<script src="/spa/layout/default/index.js"></script>
<script src="/spa/layout/default/init.js"></script>

<div id="shared-spinner"></div>
<div id="shared-topbar"></div>
<div id="shared-navbar"></div>
<div id="shared-search"></div>
<div id="page-content" style="min-height: 800px;"></div>
<div id="shared-footer"></div>
<div id="shared-copyright"></div>
<div id="shared-back-to-top"></div>