<script src="/spa/components/carousel/init.js"></script>

<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    <div class="header-carousel-item">
        <div class="header-carousel-item-img-1">
            <img src="/img/carousel-1.jpg" class="img-fluid w-100" alt="Image">
        </div>
        <div class="carousel-caption">
            <div class="carousel-caption-inner text-start p-3">
                <h1 id="carousel-caption-title-1" class="display-1 text-capitalize text-white mb-4 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="5.3s" style="animation-delay: 1.3s;">A plataforma de Telemedicina mais prestigiada por clientes e especialistas.</h1>
                <p id="carousel-caption-text-1" class="mb-5 fs-5 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1.5s" style="animation-delay: 1.5s;">Nossa plataforma é reconhecida pelo sucesso e pela confiança de pacientes e especialistas, proporcionando excelência no atendimento online. 
                </p>
                <a id="carousel-caption-signin-1" class="btn btn-primary rounded-pill py-3 px-5 mb-4 me-4 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1.5s" style="animation-delay: 1.7s;" href="#">Cadastre-se</a>
                <a id="carousel-caption-readmore-1" class="btn btn-dark rounded-pill py-3 px-5 mb-4 fadeInUp animate__animated" data-animation="fadeInUp" data-delay="1.5s" style="animation-delay: 1.7s;" href="#">Leia Mais</a>
            </div>
        </div>
    </div>
    <div class="header-carousel-item mx-auto">
        <div class="header-carousel-item-img-2">
            <img src="/img/carousel-2.jpg" class="img-fluid w-100" alt="Image">
        </div>
        <div class="carousel-caption">
            <div class="carousel-caption-inner text-center p-3">
                <h1 id="carousel-caption-title-2" class="display-1 text-capitalize text-white mb-4">A plataforma de Telemedicina mais prestigiada por clientes e especialistas.</h1>
                <p id="carousel-caption-text-2" class="mb-5 fs-5">Nossa plataforma é reconhecida pelo sucesso e pela confiança de pacientes e especialistas, proporcionando excelência no atendimento online. 
                </p>
                <a id="carousel-caption-signin-2" class="btn btn-primary rounded-pill py-3 px-5 mb-4 me-4" href="#">Cadastre-se</a>
                <a id="carousel-caption-readmore-2" class="btn btn-dark rounded-pill py-3 px-5 mb-4" href="#">Leia Mais</a>
            </div>
        </div>
    </div>
    <div class="header-carousel-item">
        <div class="header-carousel-item-img-3">
            <img src="/img/carousel-3.jpg" class="img-fluid w-100" alt="Image">
        </div>
        <div class="carousel-caption">
            <div class="carousel-caption-inner text-end p-3">
                <h1 id="carousel-caption-title-3" class="display-1 text-capitalize text-white mb-4">A plataforma de Telemedicina mais prestigiada por clientes e especialistas.</h1>
                <p id="carousel-caption-text-3" class="mb-5 fs-5">Nossa plataforma é reconhecida pelo sucesso e pela confiança de pacientes e especialistas, proporcionando excelência no atendimento online. 
                </p>
                <a id="carousel-caption-signin-3" class="btn btn-primary rounded-pill py-3 px-5 mb-4 me-4" href="#">Cadastre-se</a>
                <a id="carousel-caption-readmore-3" class="btn btn-dark rounded-pill py-3 px-5 mb-4" href="#">Leia Mais</a>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->