<script src="/spa/components/testimonial/init.js"></script>

<!-- Testimonial Start -->
<div class="container-fluid testimonial bg-light">
    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-xl-4 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="h-100 rounded">
                    <h4 id="feedbacks-context" class="text-primary">Nossos Feedbacks </h4>
                    <h1 id="feedbacks-title" class="display-4 mb-4">O que os clientes estão dizendo</h1>
                    <p id="feedbacks-text" class="mb-4">Recebemos feedbacks extremamente positivos de nossos clientes. Muitos destacam a qualidade do atendimento e a facilidade de uso da nossa plataforma. </p>
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#"> <span id="feedbacks-button-read-all-comments">Ler Todos os Comentários</span> <i class="fas fa-arrow-right ms-2"></i></a>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="testimonial-carousel owl-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="d-flex">
                            <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                            <p id="feedbacks-card-1-comment" class="mt-4">A plataforma LiveDoctorMed tem sido uma ferramenta essencial no meu trabalho. A interface é intuitiva, o que facilita tanto para mim quanto para meus pacientes. As teleconsultas são tão eficazes quanto as presenciais, e muitos dos meus clientes comentam sobre a conveniência de poder receber atendimento no conforto de suas casas. Recomendo sem hesitar!
                            </p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="my-auto text-end">
                                <h5 id="feedbacks-card-1-name">Dra. Renata Lima</h5>
                                <p id="feedbacks-card-1-position" class="mb-0">Psicóloga</p>
                            </div>
                            <div class="bg-white rounded-circle ms-3">
                                <img src="img/testimonial-1.jpg" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="d-flex">
                            <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                            <p id="feedbacks-card-2-comment"class="mt-4">A LiveDoctorMed revolucionou a maneira como atendo meus pacientes. A facilidade de marcar consultas online e a qualidade das videochamadas tornaram o acompanhamento contínuo muito mais eficiente. Meus pacientes elogiam a praticidade e eu consigo manter um controle mais rígido das suas condições de saúde, sem comprometer a qualidade do atendimento.
                            </p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="my-auto text-end">
                                <h5 id="feedbacks-card-2-name">Dra. Sabrina Almeida</h5>
                                <p id="feedbacks-card-2-position" class="mb-0">Cardiologista</p>
                            </div>
                            <div class="bg-white rounded-circle ms-3">
                                <img src="img/testimonial-2.jpg" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-white rounded p-4 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="d-flex">
                            <div><i class="fas fa-quote-left fa-3x text-dark me-3"></i></div>
                            <p id="feedbacks-card-3-comment"class="mt-4">Na LiveDoctorMed, consigo acompanhar o desenvolvimento das crianças e orientar os pais com a mesma qualidade de uma consulta presencial. A plataforma permite que eu esteja disponível para meus pacientes, mesmo em situações emergenciais, o que é crucial na pediatria. O suporte técnico é excelente, sempre pronto para resolver qualquer questão rapidamente.
                            </p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="my-auto text-end">
                                <h5 id="feedbacks-card-3-name">Dr. Roberto Torres</h5>
                                <p id="feedbacks-card-3-position" class="mb-0">Pediatra</p>
                            </div>
                            <div class="bg-white rounded-circle ms-3">
                                <img src="img/testimonial-3.jpg" class="rounded-circle p-2" style="width: 80px; height: 80px; border: 1px solid; border-color: var(--bs-primary);" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->